[Unit]
Description=EchoIP
After=network.target

[Service]
Type=simple
User=web

ExecStart=/usr/local/bin/echoip -c /etc/echoip/config.toml
Restart=always
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=echoip

[Install]
WantedBy=multi-user.target
